$corTopo:#D3D3D3;
$tamanhoNav:5px;

.barraNav{
background-color:$corTopo;
padding-bottom:$tamanhoNav;
}


#navegacao{
background-color:transparent;
border-style:none;


}

#lista {
margin-right:20px;

a{
}

}