$corTopo:#D3D3D3;
$tamanhoNav:5px;

.barraNav{
background-color:$corTopo;
padding-bottom:$tamanhoNav;
}

#topo{
background-image:url(img/img1.jpg);
 background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#jumbotron{
background-color:transparent;
text-align:center;

}


#navegacao{
background-color:white;
border-style:none;
padding:10px;


}

#lista {
margin-right:20px;

a{
color:black;
}

}